.styledListItem {
  display: flex;
  align-items: center;
  padding: 0px;

  :global(.MuiListItemText-root) {
    margin-left: 16px;
  }
}

.circleIcon {
  font-size: 10px;
}

.contentSection {
  margin: 32px 0px;
}

.sectionContainer {
  flex-direction: column;
  display: flex;
}

.sectionTitle {
  margin-bottom: 0.5rem;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
}

.bottomSection {
  margin-bottom: 32px;
}

.paragraphSpacing {
  margin-bottom: 0.5rem;
}
